In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.tree import export_graphviz
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn import tree
from sklearn.metrics import mean_squared_error

In [4]:
data_train = pd.read_excel('Data_Train.xlsx')
data_test =  pd.read_excel('Data_Test.xlsx')

In [5]:
data_train.head()

  Restaurant                             Location  ... Reviews Delivery_Time
0    ID_6321  FTI College, Law College Road, Pune  ...       4    30 minutes
1    ID_2882                 Sector 3, Marathalli  ...       4    30 minutes
2    ID_1595                       Mumbai Central  ...      30    65 minutes
3    ID_5929                      Sector 1, Noida  ...      95    30 minutes
4    ID_6123   Rmz Centennial, I Gate, Whitefield  ...     235    65 minutes

[5 rows x 9 columns]

In [6]:
data_train.columns

Index(['Restaurant', 'Location', 'Cuisines', 'Average_Cost', 'Minimum_Order',
       'Rating', 'Votes', 'Reviews', 'Delivery_Time'],
      dtype='object')

In [7]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11094 entries, 0 to 11093
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Restaurant     11094 non-null  object
 1   Location       11094 non-null  object
 2   Cuisines       11094 non-null  object
 3   Average_Cost   11094 non-null  object
 4   Minimum_Order  11094 non-null  object
 5   Rating         11094 non-null  object
 6   Votes          11094 non-null  object
 7   Reviews        11094 non-null  object
 8   Delivery_Time  11094 non-null  object
dtypes: object(9)
memory usage: 780.2+ KB

In [8]:
print(data_train.shape,data_test.shape)

(11094, 9) (2774, 8)

In [9]:
data_train.isnull().sum()

Restaurant       0
Location         0
Cuisines         0
Average_Cost     0
Minimum_Order    0
Rating           0
Votes            0
Reviews          0
Delivery_Time    0
dtype: int64

In [10]:
data_test.isnull().sum()

Restaurant       0
Location         0
Cuisines         0
Average_Cost     0
Minimum_Order    0
Rating           0
Votes            0
Reviews          0
dtype: int64

In [13]:
combined_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13868 entries, 0 to 2773
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Restaurant     13868 non-null  object
 1   Location       13868 non-null  object
 2   Cuisines       13868 non-null  object
 3   Average_Cost   13868 non-null  object
 4   Minimum_Order  13868 non-null  object
 5   Rating         13868 non-null  object
 6   Votes          13868 non-null  object
 7   Reviews        13868 non-null  object
dtypes: object(8)
memory usage: 975.1+ KB

In [12]:
train_nomissing = data_train.drop('Delivery_Time',axis=1)
test_nomissing = data_test
combined_set = pd.concat([train_nomissing, test_nomissing], axis = 0)
combined_set.shape

(13868, 8)

In [14]:
combined_set.head()

  Restaurant                             Location  ... Votes Reviews
0    ID_6321  FTI College, Law College Road, Pune  ...    12       4
1    ID_2882                 Sector 3, Marathalli  ...    11       4
2    ID_1595                       Mumbai Central  ...    99      30
3    ID_5929                      Sector 1, Noida  ...   176      95
4    ID_6123   Rmz Centennial, I Gate, Whitefield  ...   521     235

[5 rows x 8 columns]

In [15]:
combined_set.nunique()

Restaurant       8661
Location           35
Cuisines         2392
Average_Cost       26
Minimum_Order      20
Rating             33
Votes            1181
Reviews           811
dtype: int64

In [16]:
combined_set.isnull().sum()

Restaurant       0
Location         0
Cuisines         0
Average_Cost     0
Minimum_Order    0
Rating           0
Votes            0
Reviews          0
dtype: int64

In [17]:
from collections import Counter

combined_set['Cuisines'] = combined_set['Cuisines'].str.lower()
combined_set['Cuisines'] = combined_set['Cuisines'].str.replace(' ','')
Cuisines_set = combined_set['Cuisines'].str.split(',')

Cuisines_counter = Counter(([a for b in Cuisines_set.tolist() for a in b]))
Cuisines_counter

Counter({'afghan': 24,
         'african': 2,
         'american': 163,
         'andhra': 111,
         'arabian': 82,
         'asian': 259,
         'assamese': 4,
         'awadhi': 15,
         'bakery': 864,
         'bangladeshi': 5,
         'barfood': 25,
         'bbq': 61,
         'belgian': 5,
         'bengali': 132,
         'beverages': 1789,
         'bihari': 14,
         'biryani': 1161,
         'bohri': 1,
         'brazilian': 6,
         'bubbletea': 6,
         'burger': 414,
         'burmese': 13,
         'cafe': 592,
         'cantonese': 2,
         'charcoalchicken': 3,
         'chettinad': 14,
         'chinese': 4339,
         'coffee': 53,
         'continental': 694,
         'desserts': 1548,
         'european': 89,
         'fastfood': 3862,
         'fingerfood': 67,
         'french': 8,
         'frozenyogurt': 5,
         'german': 9,
         'goan': 11,
         'greek': 1,
         'gujarati': 12,
         'healthyfood': 352,
         'hotdogs': 4,
         'hyderabadi': 85,
         'icecream': 480,
         'indian': 4,
         'indonesian': 3,
         'iranian': 10,
         'israeli': 2,
         'italian': 751,
         'japanese': 72,
         'juices': 198,
         'kashmiri': 11,
         'kebab': 214,
         'kerala': 73,
         'konkan': 6,
         'korean': 20,
         'lebanese': 120,
         'lucknowi': 15,
         'maharashtrian': 135,
         'malaysian': 16,
         'malwani': 20,
         'mangalorean': 27,
         'mediterranean': 32,
         'mexican': 143,
         'middleeastern': 6,
         'mishti': 82,
         'mithai': 386,
         'modernindian': 25,
         'momos': 397,
         'mughlai': 1098,
         'naga': 8,
         'nepalese': 3,
         'northeastern': 29,
         'northindian': 5999,
         'odia': 21,
         'paan': 34,
         'parsi': 15,
         'pizza': 611,
         'poké': 10,
         'portuguese': 3,
         'rajasthani': 35,
         'rawmeats': 16,
         'roastchicken': 5,
         'rolls': 620,
         'salad': 284,
         'sandwich': 339,
         'seafood': 246,
         'southamerican': 3,
         'southindian': 1507,
         'spanish': 4,
         'srilankan': 1,
         'steak': 22,
         'streetfood': 935,
         'sushi': 50,
         'tamil': 3,
         'tea': 87,
         'tex-mex': 4,
         'thai': 205,
         'tibetan': 47,
         'turkish': 9,
         'vietnamese': 18,
         'wraps': 97})

In [18]:
for cuisine in Cuisines_counter.keys():
    combined_set[cuisine] = 0
    combined_set.loc[combined_set['Cuisines'].str.contains(cuisine), cuisine] = 1

In [19]:
combined_set = combined_set.drop("Cuisines", axis=1)

In [20]:
combined_set.head()

  Restaurant                             Location  ... israeli greek
0    ID_6321  FTI College, Law College Road, Pune  ...       0     0
1    ID_2882                 Sector 3, Marathalli  ...       0     0
2    ID_1595                       Mumbai Central  ...       0     0
3    ID_5929                      Sector 1, Noida  ...       0     0
4    ID_6123   Rmz Centennial, I Gate, Whitefield  ...       0     0

[5 rows x 108 columns]

In [21]:
combined_set['City']=combined_set.Location.str.rpartition(',')[2]

combined_set.City[combined_set.City.str.contains('Delhi University-GTB Nagar')]='Delhi'
combined_set.City[combined_set.City.str.contains('Mumbai CST Area')]='Mumbai'
combined_set.City[combined_set.City.str.contains('Mumbai Central')]='Mumbai'
combined_set.City[combined_set.City.str.contains('India Gate')]='Delhi'
combined_set.City[combined_set.City.str.contains('Delhi Cantt.')]='Delhi'
combined_set.City[combined_set.City.str.contains('Maharashtra')]='Pune'
combined_set.City[combined_set.City.str.contains('Pune University')]='Pune'
combined_set.City[combined_set.City.str.contains('Gurgoan')]='Gurgaon'
combined_set.City[combined_set.City.str.contains('Electronic City')]='Bangalore'
combined_set.City[combined_set.City.str.contains('Whitefield')]='Bangalore'

combined_set['City'] = combined_set['City'].str.strip()
combined_set['City'] = combined_set['City'].str.lower()


combined_set.City.unique()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

array(['pune', 'marathalli', 'mumbai', 'noida', 'bangalore', 'delhi',
       'timarpur', 'kolkata', 'gurgaon', 'begumpet', 'majestic',
       'hyderabad'], dtype=object)

In [22]:
combined_set = combined_set.drop("Location", axis=1)

In [23]:
combined_set.head()

  Restaurant Average_Cost Minimum_Order  ... israeli greek        City
0    ID_6321         ₹200           ₹50  ...       0     0        pune
1    ID_2882         ₹100           ₹50  ...       0     0  marathalli
2    ID_1595         ₹150           ₹50  ...       0     0      mumbai
3    ID_5929         ₹250           ₹99  ...       0     0       noida
4    ID_6123         ₹200           ₹99  ...       0     0   bangalore

[5 rows x 108 columns]

In [24]:
combined_set['Average_Cost'] = combined_set['Average_Cost'].str.replace("[^0-9]","")
combined_set['Average_Cost'] = combined_set['Average_Cost'].str.strip()
combined_set['Average_Cost']=pd.to_numeric(combined_set['Average_Cost'])

In [25]:
combined_set['Minimum_Order'] = combined_set['Minimum_Order'].str.replace("[^0-9]","")
combined_set['Minimum_Order'] = combined_set['Minimum_Order'].str.strip()
combined_set['Minimum_Order']=pd.to_numeric(combined_set['Minimum_Order'])

In [26]:
combined_set.Rating.unique()

array(['3.5', '3.6', '3.7', '3.2', '3.8', '4.0', '3.9', '4.2', '-', '2.8',
       '3.0', '3.3', '3.1', '4.7', '3.4', '4.1', 'NEW', '2.9', '4.6',
       '4.3', '2.6', '4.5', '4.4', '4.8', '2.4', '2.7', '2.5',
       'Opening Soon', '2.2', '4.9', '2.3', '2.1', 'Temporarily Closed'],
      dtype=object)

In [27]:
combined_set.Rating = combined_set.Rating.replace("NEW",np.nan)
combined_set.Rating = combined_set.Rating.replace("-",np.nan)
combined_set.Rating = combined_set.Rating.replace("Opening Soon",np.nan)
combined_set.Rating = combined_set.Rating.replace("Temporarily Closed",np.nan)
combined_set.Rating = combined_set.Rating.astype('float')

In [28]:
combined_set.Votes = combined_set.Votes.replace("-",np.nan)
combined_set.Votes = combined_set.Votes.astype('float')

In [29]:
combined_set.head()

  Restaurant  Average_Cost  Minimum_Order  ...  israeli  greek        City
0    ID_6321         200.0             50  ...        0      0        pune
1    ID_2882         100.0             50  ...        0      0  marathalli
2    ID_1595         150.0             50  ...        0      0      mumbai
3    ID_5929         250.0             99  ...        0      0       noida
4    ID_6123         200.0             99  ...        0      0   bangalore

[5 rows x 108 columns]

In [30]:
combined_set.Reviews = combined_set.Reviews.replace("-",np.nan)
combined_set.Reviews = combined_set.Reviews.astype('float')

In [31]:
print(combined_set.shape)

(13868, 108)

In [33]:
combined_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13868 entries, 0 to 2773
Columns: 108 entries, Restaurant to City
dtypes: float64(4), int64(102), object(2)
memory usage: 11.5+ MB

In [34]:
combined_set.drop('Restaurant', axis=1, inplace=True)

In [35]:
combined_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13868 entries, 0 to 2773
Columns: 107 entries, Average_Cost to City
dtypes: float64(4), int64(102), object(1)
memory usage: 11.4+ MB

In [36]:
combined_set=pd.get_dummies(data=combined_set)

In [37]:
df_train = combined_set[:train_nomissing.shape[0]] # Up to the last initial training set row
df_test = combined_set[train_nomissing.shape[0]:] # Past the last initial training set row

In [38]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
df_train_arr_scld = sc.fit_transform(df_train)
df_train_scld=pd.DataFrame(df_train_arr_scld,columns=df_train.columns)
df_test_arr_scld = sc.transform(df_test)
df_test_scld=pd.DataFrame(df_test_arr_scld,columns=df_test.columns)

In [39]:
train = df_train_scld # Up to the last initial training set row
test = df_test_scld # Past the last initial training set row

#train = df_train # Up to the last initial training set row
#test = df_test # Past the last initial training set row
labels = data_train['Delivery_Time']

In [40]:
train.shape

(11094, 118)

In [41]:
test.shape

(2774, 118)

In [42]:
train.head()

   Average_Cost  Minimum_Order    Rating  ...  City_noida  City_pune  City_timarpur
0     -0.020865      -0.180293 -0.273847  ...   -0.481219   2.170191      -0.210799
1     -0.791083      -0.180293 -0.273847  ...   -0.481219  -0.460789      -0.210799
2     -0.405974      -0.180293 -0.032486  ...   -0.481219  -0.460789      -0.210799
3      0.364245       2.461158  0.208875  ...    2.078055  -0.460789      -0.210799
4     -0.020865       2.461158 -0.997930  ...   -0.481219  -0.460789      -0.210799

[5 rows x 118 columns]

In [43]:
test.head()

   Average_Cost  Minimum_Order    Rating  ...  City_noida  City_pune  City_timarpur
0      1.134463      -0.180293  1.415680  ...   -0.481219  -0.460789      -0.210799
1     -0.791083      -0.180293       NaN  ...   -0.481219  -0.460789      -0.210799
2     -0.791083      -0.180293 -0.032486  ...    2.078055  -0.460789      -0.210799
3     -0.020865      -0.180293 -0.032486  ...   -0.481219  -0.460789      -0.210799
4     -0.405974      -0.180293 -1.722013  ...    2.078055  -0.460789      -0.210799

[5 rows x 118 columns]

In [44]:
data_train_target = data_train['Delivery_Time']
data_train_final=train
data_train_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11094 entries, 0 to 11093
Columns: 118 entries, Average_Cost to City_timarpur
dtypes: float64(118)
memory usage: 10.0 MB

In [45]:
X_train, X_test, y_train, y_test = train_test_split(data_train_final, data_train_target, test_size = 0.33,random_state=42)

In [46]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7432 entries, 350 to 7270
Columns: 118 entries, Average_Cost to City_timarpur
dtypes: float64(118)
memory usage: 6.7 MB

In [47]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((7432, 118), (7432,), (3662, 118), (3662,))

In [48]:
import lightgbm as lgb

lgb_fit_params={"early_stopping_rounds":50, 
            "eval_metric" : 'multi_logloss', 
            "eval_set" : [(X_test,y_test)],
            'eval_names': ['valid'],
            'verbose':100
           }

lgb_params = {'boosting_type': 'gbdt',
 'objective': 'multiclass',
 'metric': 'multi_logloss',
 'verbose': 0,
 'bagging_fraction': 0.8,
 'bagging_freq': 1,
 'num_class': 7,
 'feature_fraction': 0.8,
 'lambda_l1': 0.01,
 'lambda_l2': 0.01,
 'learning_rate': 0.1,
 'max_bin': 255,
 'max_depth': -1,
 'min_data_in_bin': 1,
 'min_data_in_leaf': 1,
 'num_leaves': 31}
lgb_params

{'bagging_fraction': 0.8,
 'bagging_freq': 1,
 'boosting_type': 'gbdt',
 'feature_fraction': 0.8,
 'lambda_l1': 0.01,
 'lambda_l2': 0.01,
 'learning_rate': 0.1,
 'max_bin': 255,
 'max_depth': -1,
 'metric': 'multi_logloss',
 'min_data_in_bin': 1,
 'min_data_in_leaf': 1,
 'num_class': 7,
 'num_leaves': 31,
 'objective': 'multiclass',
 'verbose': 0}

In [49]:
clf_lgb = lgb.LGBMClassifier(n_estimators=10000, **lgb_params, random_state=123456789, n_jobs=-1)
clf_lgb.fit(X_train, y_train, **lgb_fit_params)
clf_lgb.best_iteration_

Training until validation scores don't improve for 50 rounds.
[100]	valid's multi_logloss: 0.602986
[200]	valid's multi_logloss: 0.590803
[300]	valid's multi_logloss: 0.590626
Early stopping, best iteration is:
[258]	valid's multi_logloss: 0.588981

258

In [52]:
!pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/b2/aa/e61819d04ef2bbee778bf4b3a748db1f3ad23512377e43ecfdc3211437a0/catboost-0.23.2-cp36-none-manylinux1_x86_64.whl (64.8MB)
     |████████████████████████████████| 64.8MB 59kB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.5)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.0.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Installing collected packages: catboost
Successfully installed catboost-0.23.2

In [56]:
categorical_features_indices = np.where(X_train.dtypes =='object')[0]
categorical_features_indices

array([], dtype=int64)

In [60]:
import catboost
def make_classifier():
    model = catboost.CatBoostClassifier(
        iterations=5000,
        random_state=18121995,
        learning_rate=0.01,
        loss_function='MultiClass',
        early_stopping_rounds=100,
    )
    return model

In [61]:
import os, sys, datetime
from time import time
import catboost
from sklearn.model_selection import StratifiedKFold

start_time = time()

NFOLDS = 3
folds = StratifiedKFold(n_splits=NFOLDS, shuffle=False, random_state=18121995)
models = []
scores = []
for fold, (train_ids, test_ids) in enumerate(folds.split(X_train, y_train)):
    print('● Fold :', fold+1)
    model = make_classifier()
    model.fit(X_train, y_train, 
              eval_set=(X_train, y_train),
              use_best_model=False,
              verbose=500,
              cat_features=categorical_features_indices)    
    models.append(model)
    print('\n')

print('finished in {}'.format( 
    str(datetime.timedelta(seconds=time() - start_time))))

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

● Fold : 1
0:	learn: 1.9153329	test: 1.9153329	best: 1.9153329 (0)	total: 21.9ms	remaining: 1m 49s
500:	learn: 0.6747651	test: 0.6747651	best: 0.6747651 (500)	total: 10.1s	remaining: 1m 30s
1000:	learn: 0.6317704	test: 0.6317704	best: 0.6317704 (1000)	total: 19.9s	remaining: 1m 19s
1500:	learn: 0.5982112	test: 0.5982112	best: 0.5982112 (1500)	total: 29.8s	remaining: 1m 9s
2000:	learn: 0.5726281	test: 0.5726281	best: 0.5726281 (2000)	total: 39.7s	remaining: 59.6s
2500:	learn: 0.5513617	test: 0.5513617	best: 0.5513617 (2500)	total: 49.6s	remaining: 49.6s
3000:	learn: 0.5325306	test: 0.5325306	best: 0.5325306 (3000)	total: 59.5s	remaining: 39.6s
3500:	learn: 0.5152405	test: 0.5152405	best: 0.5152405 (3500)	total: 1m 9s	remaining: 29.7s
4000:	learn: 0.4996255	test: 0.4996255	best: 0.4996255 (4000)	total: 1m 19s	remaining: 19.9s
4500:	learn: 0.4855628	test: 0.4855628	best: 0.4855628 (4500)	total: 1m 29s	remaining: 9.92s
4999:	learn: 0.4724092	test: 0.4724092	best: 0.4724092 (4999)	total: 1m 39s	remaining: 0us

bestTest = 0.4724092105
bestIteration = 4999



● Fold : 2
0:	learn: 1.9153329	test: 1.9153329	best: 1.9153329 (0)	total: 23.5ms	remaining: 1m 57s
500:	learn: 0.6747651	test: 0.6747651	best: 0.6747651 (500)	total: 9.88s	remaining: 1m 28s
1000:	learn: 0.6317704	test: 0.6317704	best: 0.6317704 (1000)	total: 19.7s	remaining: 1m 18s
1500:	learn: 0.5982112	test: 0.5982112	best: 0.5982112 (1500)	total: 29.6s	remaining: 1m 9s
2000:	learn: 0.5726281	test: 0.5726281	best: 0.5726281 (2000)	total: 39.6s	remaining: 59.3s
2500:	learn: 0.5513617	test: 0.5513617	best: 0.5513617 (2500)	total: 49.5s	remaining: 49.5s
3000:	learn: 0.5325306	test: 0.5325306	best: 0.5325306 (3000)	total: 59.5s	remaining: 39.6s
3500:	learn: 0.5152405	test: 0.5152405	best: 0.5152405 (3500)	total: 1m 9s	remaining: 29.7s
4000:	learn: 0.4996255	test: 0.4996255	best: 0.4996255 (4000)	total: 1m 19s	remaining: 19.8s
4500:	learn: 0.4855628	test: 0.4855628	best: 0.4855628 (4500)	total: 1m 29s	remaining: 9.89s
4999:	learn: 0.4724092	test: 0.4724092	best: 0.4724092 (4999)	total: 1m 39s	remaining: 0us

bestTest = 0.4724092105
bestIteration = 4999



● Fold : 3
0:	learn: 1.9153329	test: 1.9153329	best: 1.9153329 (0)	total: 19.9ms	remaining: 1m 39s
500:	learn: 0.6747651	test: 0.6747651	best: 0.6747651 (500)	total: 9.85s	remaining: 1m 28s
1000:	learn: 0.6317704	test: 0.6317704	best: 0.6317704 (1000)	total: 19.6s	remaining: 1m 18s
1500:	learn: 0.5982112	test: 0.5982112	best: 0.5982112 (1500)	total: 29.5s	remaining: 1m 8s
2000:	learn: 0.5726281	test: 0.5726281	best: 0.5726281 (2000)	total: 39.4s	remaining: 59.1s
2500:	learn: 0.5513617	test: 0.5513617	best: 0.5513617 (2500)	total: 49.3s	remaining: 49.3s
3000:	learn: 0.5325306	test: 0.5325306	best: 0.5325306 (3000)	total: 59.2s	remaining: 39.5s
3500:	learn: 0.5152405	test: 0.5152405	best: 0.5152405 (3500)	total: 1m 9s	remaining: 29.6s
4000:	learn: 0.4996255	test: 0.4996255	best: 0.4996255 (4000)	total: 1m 19s	remaining: 19.8s
4500:	learn: 0.4855628	test: 0.4855628	best: 0.4855628 (4500)	total: 1m 29s	remaining: 9.89s
4999:	learn: 0.4724092	test: 0.4724092	best: 0.4724092 (4999)	total: 1m 39s	remaining: 0us

bestTest = 0.4724092105
bestIteration = 4999



finished in 0:05:00.358844

In [62]:
from xgboost import XGBClassifier
xgb = XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

#Training the classifier
xgb.fit(X_train,y_train)

#Evaluating the score on validation set
xgb.score(X_test,y_test)

0.7321135991261606

In [63]:
clf_lgb_fulldata = lgb.LGBMClassifier(n_estimators=int(clf_lgb.best_iteration_*1.2), **lgb_params)
clf_lgb_fulldata.fit(data_train_final, data_train_target)

LGBMClassifier(bagging_fraction=0.8, bagging_freq=1, boosting_type='gbdt',
               class_weight=None, colsample_bytree=1.0, feature_fraction=0.8,
               importance_type='split', lambda_l1=0.01, lambda_l2=0.01,
               learning_rate=0.1, max_bin=255, max_depth=-1,
               metric='multi_logloss', min_child_samples=20,
               min_child_weight=0.001, min_data_in_bin=1, min_data_in_leaf=1,
               min_split_gain=0.0, n_estimators=309, n_jobs=-1, num_class=7,
               num_leaves=31, objective='multiclass', random_state=None,
               reg_alpha=0.0, reg_lambda=0.0, silent=True, subsample=1.0,
               subsample_for_bin=200000, subsample_freq=0, ...)

In [68]:
predictions = np.argmax(clf_lgb_fulldata.predict_proba(df_test), axis=1)

In [73]:

target = "Delivery_Time"
train_target = data_train[target]
train_target = train_target.apply(lambda x: x.split()[0]).astype(int)


class_map = {}
class_map_rev = {}
for a,b in enumerate(sorted(train_target.unique())):
    class_map[b] = a
    class_map_rev[a] = b
print("class mapping {}".format(class_map))
print("class mapping reverse {}".format(class_map_rev))

train_target = train_target.map(class_map)

submission = pd.DataFrame({target: pd.Series(predictions).map(class_map_rev).apply(lambda x: str(x)+" minutes")})

submission.head()

class mapping {10: 0, 20: 1, 30: 2, 45: 3, 65: 4, 80: 5, 120: 6}
class mapping reverse {0: 10, 1: 20, 2: 30, 3: 45, 4: 65, 5: 80, 6: 120}

  Delivery_Time
0    80 minutes
1    80 minutes
2    80 minutes
3    80 minutes
4    80 minutes